server:
  port: 27000


spring:
  kafka:
    bootstrap-servers: 106.14.212.123:9092
    consumer:
      group-id: testgroup
    template:
      default-topic: spark_streaming


my:
  config:
    test: Test
